.evidence/template
.svelte-kit
build
node_modules
.DS_Store
static/data
*.options.yaml
.vscode/settings.json
.env
.evidence/
.evidence/meta

scripts/

sources/
static/*
_obsolete
*_obsolete/*
sources/
!/data/static/*

package-lock.json
package.json
evidence.plugins.yaml
.npmrc
.vscode